*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu{display: flex; width: 100%;}

.logo-menu{width: 50%;}

.items-menu{width: 50%; text-align: right;}

.items-menu a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.items-menu a:hover{
    border-bottom: 2px solid #FFDD33 ;
    border-radius: 1px;
}

.items-menu a.contact-btn{
    background-color: #0F3FD3;
    padding: 10px 10px;
    border-radius: 10px;
}

.items-menu a.contact-btn:hover{
    border: 0;
}

.mockup{
    display: block;
    width: 100%;
    color: white; 
    text-align: center;
    padding-top:100px;
}

.mockup h1{
    font-size: 50px;
}

.mockup img{max-width: 100%;}

section.marcas{padding: 100px 0;}

section.marcas img{
    width: 20%;
}

section.porque-nos{
    padding: 40px 0;
    background-color: #FBFCFE;

}

section.porque-nos > .center {
    max-width: 1280px;
}

section.porque-nos > .center > h2{
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.porque-nos > .center > p{
    font-size: 14px;
    color: #ccc;
    text-align: center;
    width: 100%;
}

.diferenciais{
    display: flex;
    margin-top: 50px;
}

.box-diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 10px;
}

.box-diferenciais h3{
   font-size: 28px;
   color: black;
   margin: 20px 0;
}

.box-diferenciais p{
    font-size: 13px;
    color: #7E92AC;
    margin-bottom:20px;
 }

 section.cta{
    background-image: url("images/banner-meio.svg");
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    text-align: center;
    color: white;
 }

 section.cta h2,
 section.cta h4{
     font-weight: normal;
     margin: 10px 0;
 }
 section.cta h2{
     font-size: 30px;
 }

 section.cta a{
    display: inline-block;
    background-color: #FFDD33;
    font-weight: bold;
    padding: 8px 18px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 10px;
   
 }

 section.beneficios{
    padding: 50px 0;
 }

 .lista-beneficios{
     width: 50%;
 }

 .lista-beneficios h1{
    color: black;
    font-size: 40px;
}

 .lista-beneficios p{
    vertical-align: middle;
    font-size: 14px;
    color: #7E92AC;
}

.lista-beneficios span{
    display: inline-block;
    width: calc(100% - 70px);
}


.lista-beneficios img{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.lista-beneficios a{
    display: inline-block;
    background-color: #255AFF;
    font-weight: bold;
    color: white;
    padding: 8px 18px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 10px;
}

.img-beneficios{
    width: 50%;
}

 .img-beneficios img{width: 100%;}

section.depoimentos{
    background-color: #FBFCFE;
    padding: 40px 0;
}

section.depoimentos > h1{
    text-align: center;
    font-size: 50px;
    background-color: #FBFCFE;
}

.container-slider{
    overflow: hidden;
    padding: 40px 0;
}

.container-slider-single{
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    
}

.container-slider-single p{
   margin: 15px 0;
   color: #7E92AC;
   font-size: 14px;
}

.slick-slide{
    margin-left: 27px;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0px 20px 50px #70707016;
}

/*parent*/
.slick-list{
    margin-left: -27px;
}

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #255AFF;
	color: #255AFF;
}

.slick-slide:focus { outline: none; }
/*Fim Slick Slider*/

section.contato{
    padding: 40px 0;
    text-align: center;
}

section.contato h1{
    font-size: 50px;
}

section.contato form{
    width: 100%;
}

.contato input[type=text],
.contato input[type=email]{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 0 10px;
    background: #FCFDFF 0% 0%;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    opacity: 1;
}

.contato textarea{
    width: 100%;
    height: 120px;
    margin: 20px 0;
    padding: 10px 10px;
    background: #FCFDFF 0% 0% ;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    opacity: 1;
    resize: vertical;
}

.contato input[type=submit]{
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background: #255AFF;
    color: white;
    font-size: 18px;
    
}

footer{
    padding: 10px 0;
    background-color: #255AFF;
    color: white;
}

.text-footer{
    width: 50%;
    padding: 8px 0;
}

.items-menu-mobile{
    width: 50%;
    text-align: right;
    display: none;
}

.items-menu-mobile i{
    color: white;
    font-size: 23px;
    position: relative;
    top: 15px;
    cursor: pointer;
}

 @media screen and (max-width: 768px) {


    .items-menu-mobile{
        display: block;
    }

  

    .menu-mobile{
        opacity: 0;
        transition: 1s;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background-color: white;
        padding: 20px 0;
        text-align: center;
    }

    .show{
        opacity: 1;
        display: block;
    }
    .hide{
        opacity: 0;
    }

    .menu-mobile a{
        display: block;
        margin: 10px 0;
        text-align: center;
        color:  #255AFF;
        text-decoration: none;
        font-weight: bold;
    }

    section.main .items-menu{
        display: none;
    }

    

    footer .items-menu{
        width: 100%;
        text-align: center;
    }
    footer .items-menu a{
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .text-footer{
        width: 100%;
        padding: 8px 0;
        text-align: center;
    }

    .lista-beneficios, .img-beneficios{
        width: 100%;
        margin-bottom: 30px;
    }
    .diferenciais{
        flex-wrap: wrap;
    }

    .box-diferenciais{
        width: 100%;
        margin-right: 0;
    }

    section.marcas > .center{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.marcas img{
        max-width: 300px;
        width: 100%;

    }

 }