*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.logoTitulo{
    padding-left: 10%;
}

.content p{
    text-align: justify;
    font-size: 50;
    color: black;
}

.center{
    display: flex;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    /*background-image: url('images/bg.svg');*/
    background-position: center;
    background-size: cover;
    background-color: #7ad0eb;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-bottom: 40px;
    min-height: 500px;
    padding: 20px 0 80px 0;
}

.menu{display: flex; width: 100%;}

.logo-menu{width: 50%;}

.logoTitulo{
    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-size: 50px;
}

.items-menu{width: 50%; text-align: right; align-self:center;}

.items-menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
}

.items-menu a:hover{
    border-bottom: 2px solid #dcdaf0 ;
    border-radius: 1px;
}

.items-menu a.contact-btn{
    background-color: #0F3FD3;
    padding: 10px 10px;
    border-radius: 10px;
}

.items-menu a.contact-btn:hover{
    border: 0;
}

.mockup{
    display: block;
    width: 100%;
    color: white; 
    text-align: center;
    padding-top:100px;
}

.mockup h1{
    font-size: 50px;
}

.mockup img{max-width: 100%;}



section.marcas{padding: 100px 0;}

section.marcas img{
    width: 20%;
}

section.trabalho{
    padding: 40px 0;
    background-color: #FBFCFE;

}

section.trabalho > .center {
    max-width: 1280px;
}

section.trabalho > .center > h2{
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    width: 100%;
}

section.trabalho > .center > p{
    font-size: 14px;
    color: #ccc;
    text-align: center;
    width: 100%;
}

.diferenciais{
    display: flex;
    margin-top: 50px;
}

.box-diferenciais{
    box-shadow: 0px 20px 40px #1c1e5f1c;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #dcdaf0;
}

.box-diferenciais h3{
   font-size: 24px;
   font-family: 'Fredoka One', cursive;
   color: #0B1B3D;
   margin: 20px 0;
}

.box-diferenciais p{
    font-size: 15px;
    color: #667c97;
    margin-bottom:20px;
}

section.profissional{
    background-color: #75DFD1;
    padding: 40px;
}

section.profissional > .center > .psicologo > h1{
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    color: #0B1B3D;
    margin-bottom: 40px;
}

section.profissional > .center > .psicologo > p{
    font-size: 15px;
    color: #414c58;
    margin-bottom:20px;
}

section.profissional > .center{
    flex-direction: row;
}

.psicologo{
    margin-left: 60px;
    width: 50%;
}

section.quiz{
    background-color: #fff;
    padding: 40px;
}

.box-leitura{
    box-shadow: 0px 20px 40px #1c1e5f1c;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #aecdf9;
    align-items: center;
    flex-direction: row;
}

.box-leitura > .pergunta-leitura > h1{
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
    color: #0B1B3D;
    margin-bottom: 40px;
}

section.cta{
    background-image: url("images/banner-meio.svg");
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    text-align: center;
    color: white;
 }

 section.cta h2,
 section.cta h4{
     font-weight: normal;
     margin: 10px 0;
 }
 section.cta h2{
     font-size: 30px;
 }

 section.cta a{
    display: inline-block;
    background-color: #FFDD33;
    font-weight: bold;
    padding: 8px 18px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 10px;
   
 }

 section.beneficios{
    padding: 50px 0;
 }

 .lista-beneficios{
     width: 50%;
 }

 .lista-beneficios h1{
    color: black;
    font-size: 40px;
}

 .lista-beneficios p{
    vertical-align: middle;
    font-size: 14px;
    color: #7E92AC;
}

.lista-beneficios span{
    display: inline-block;
    width: calc(100% - 70px);
}


.lista-beneficios img{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.lista-beneficios a{
    display: inline-block;
    background-color: #255AFF;
    font-weight: bold;
    color: white;
    padding: 8px 18px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 10px;
}

.img-beneficios{
    width: 50%;
}

 .img-beneficios img{width: 100%;}

section.depoimentos{
    background-color: #FBFCFE;
    padding: 40px 0;
}

section.depoimentos > h1{
    text-align: center;
    font-size: 50px;
    background-color: #FBFCFE;
}

.container-slider{
    overflow: hidden;
    padding: 40px 0;
}

.container-slider-single{
    float: left;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    
}

.container-slider-single p{
   margin: 15px 0;
   color: #7E92AC;
   font-size: 14px;
}

.slick-slide{
    margin-left: 27px;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0px 20px 50px #70707016;
}

/*parent*/
.slick-list{
    margin-left: -27px;
}

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #255AFF;
	color: #255AFF;
}

.slick-slide:focus { outline: none; }
/*Fim Slick Slider*/

section.contato{
    padding: 40px 0;
    text-align: center;
}

section.contato h1{
    font-size: 50px;
}

section.contato form{
    width: 100%;
}

.contato input[type=text],
.contato input[type=email]{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 0 10px;
    background: #FCFDFF 0% 0%;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    opacity: 1;
}

.contato textarea{
    width: 100%;
    height: 120px;
    margin: 20px 0;
    padding: 10px 10px;
    background: #FCFDFF 0% 0% ;
    border: 1px solid #C3CCE8;
    border-radius: 10px;
    opacity: 1;
    resize: vertical;
}

.contato input[type=submit]{
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background: #255AFF;
    color: white;
    font-size: 18px;
    
}

footer{
    padding: 10px 0;
    background-color: #255AFF;
    color: white;
}

.text-footer{
    width: 50%;
    padding: 8px 0;
}

.items-menu-mobile{
    width: 50%;
    text-align: right;
    display: none;
}

.items-menu-mobile i{
    color: white;
    font-size: 23px;
    position: relative;
    top: 15px;
    cursor: pointer;
}

    /*CARDS*/

img{
    width: 100%;
    display: block;
}

#traumas{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60% auto;
}

.title{
    background-color:  #7ad0eb;
    padding: 1rem;
}

.title h1{
    font-size: 4rem;
    margin-top: 2rem;
    font-weight:  700;
    text-transform: capitalize;
}

.title p{
    font-weight: 400;
    opacity: 0.7;
    max-width: 500px;
    font-size: 2rem;
    margin: 0.6rem auto 0 auto;  
    line-height: 1.6rem;
}

.traumas-list{
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.traumas-list-container{
    width: auto;
    margin:  0px auto 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    
}

.content.content-show.true{
    overflow: scroll;
}

.traumas-item{
    margin: 25px;
    width:  350px;
    height: auto;
    background-color: #ecfaf9;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transition:  all 0.3s ease-in-out;
    position: relative;
}


.traumas-item:hover{
    box-shadow:  0 0 18px 0 rgba(0, 0, 0, 0.3);
}



.imagemItem img{
    width: "100%";
    border-radius:10px 10px 0 0;
}

.heart-icon{
    position: absolute;
    left: 1.4rem;
    top: 1.4rem;
    font-size: 1.4rem;
    color: #bc1823;
}


.content{
    height: 0;
    overflow-y: auto;
    transition: height 0.3s ease-in-out;
    margin-bottom: 1rem;
  
}

.content .causas_p{
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0.4rem;
    font-size: 15px;
    padding: 0px 25px;

}


.content p{
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0.4rem;
    font-size: 15px;
    padding: 25px;
}


.content::-webkit-scrollbar {
    width: 12px;
    height: 0px;
}
 
.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3); 
    border-radius: 5px;
    
}
 
.content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(70, 69, 69);

}



/*
.content::-webkit-scrollbar-button{
    width: 15px;
}

.content::-webkit-scrollbar-thumb{
    width: 15px;
}
*/

/*
.content::-webkit-scrollbar-track-piece{
    width: 15px;
}

.content::-webkit-scrollbar-corner{
    width: 15px;
}

.content::-webkit-resizer{
    width: 15px;
}

*/
.content-show.true{
    height: 350px;
 
}



.name{
    color:#0B1B3D;
    font-size: 28px;
    padding-top: 25px;
    font-family: 'Fredoka One', cursive;
    position: relative;
    display: inline-block;
}

.collapsible-icon{
    display: block;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
}

.collapsible-icon:hover{
    color: #bc1823;
}



.name .texto {
  visibility: hidden;
  font-size: 15px;
  width: 150px;
  background-color: rgb(85, 85, 85);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.name .texto::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.name:hover .texto {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width:700px) {
    #traumas{
        grid-template-rows: 30% auto;
        overflow-x: hidden;
    }

    .traumas-item{
        width: 100%;
        margin: 50px 0px;
    }

    .lg-title h1{
        font-size:  4rem;
    }

    .traumas-list-container{
        margin: -130px auto 0 auto;

    }
}
 @media screen and (max-width: 768px) {


    .items-menu-mobile{
        display: block;
    }

  

    .menu-mobile{
        opacity: 0;
        transition: 1s;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background-color: white;
        padding: 20px 0;
        text-align: center;
    }

    .show{
        opacity: 1;
        display: block;
    }
    .hide{
        opacity: 0;
    }

    .menu-mobile a{
        display: block;
        margin: 10px 0;
        text-align: center;
        color:  #255AFF;
        text-decoration: none;
        font-weight: bold;
    }

    section.main .items-menu{
        display: none;
    }

    

    footer .items-menu{
        width: 100%;
        text-align: center;
    }
    footer .items-menu a{
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .text-footer{
        width: 100%;
        padding: 8px 0;
        text-align: center;
    }

    .lista-beneficios, .img-beneficios{
        width: 100%;
        margin-bottom: 30px;
    }
    .diferenciais{
        flex-wrap: wrap;
    }

    .box-diferenciais{
        width: 100%;
        margin-right: 0;
    }

    section.marcas > .center{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.marcas img{
        max-width: 300px;
        width: 100%;

    }



}

/* CSS Slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position:relative;
  margin: auto;
  margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  align-items: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

